extends layout

block metas 
    title Hola
    meta(name='description', content="Descripción de la página Hola")

block content
    main.container 
        h1 Hola
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora temporibus perspiciatis voluptates error quaerat pariatur officia reiciendis. Quo enim, vero quam quia esse hic! Nobis neque blanditiis optio dignissimos eveniet!
        a(href="/") Ir al home. 